<p id="notice"><%= notice %></p>
<div class="container-fluid centered">
  <%# <h1>Selenium Hubs with their Active nodes</h1> %>

  <body>
    <%= react_component('Tables', hubs: @hubs) %>
    <br>

    <%= link_to 'New Hub', new_hub_path %>

    <div id="root"></div>

  <body>
</div>
