// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

tr:nth-of-type(even) { 
  background: rgb(216, 213, 213); 
}
